<html class="Home-About-body">

<div class="Home-About-container">
    <h1 class="Home-About-centered">About Us</h1>
    <img src="~/Content/images/theater.jpg" alt="Theatre" class="Home-About-Background-img">
    <link rel="stylesheet" href="~/Content/Site.css" />
    <h2 class="Home-About-text">Who We Are</h2>
    <p class="Home-About-p">We seek to engage audiences through compelling, ensemble-driven productions with a focus on developing new works.</p>
</div>


    

<body class="Home-About-body" >

    <div class="Home-About-Background">
        <h2 class="Home-About-text">Company History</h2>
        <p class="Home-About-p">In 1997, Threatre Vertigo was founded by Paul Floding. Nanette Pettit and jeff Meyers. since then, Theatre Vertigo and performed in numerous spaces including The Russell Street Theatre, The Electric Company, Theater!Theatre!, and The Shoebox Theater.</p>

        <p class="Home-About-p">From 2003 to 2014, Theatre Vertigo produced Anonymous Theatre as a summer fundraiser in collaboration with The anonymous Theatre Company. Other past collaborations inculde defunkt theatre, Stark Raving Theater, and Tears of Joy Theatre.</p>
        <p class="Home-About-p">Theatre Vertigo has worked on world premiers including Faust, US by Joseph Fisher, 99 Ways to Fuck a Swan by Kim Rosenstock, and The End of Sex by Craig Jessen. </p>
        <p class="Home-About-p">In 2016, Theatre Vertigo produced its first officially comisioned work from a playwright, I Want to Destroy You, by Rob Handel.</p>
    </div>

    <div class="Home-About-centered-cast">
        <h2 class="Home-About-text">ENSEMBLE</h2>
        
        <ul class="Home-About-ul">
        
            <li class="Home-About-li"><img class="Home-About-image-cropper Home-About-img" src="~/Content/images/Cast_img_1.jpg" />Kaia Maarja Hiller</li>
        
        
            <li class="Home-About-li"> <img class="Home-About-image-cropper Home-About-img" src="~/Content/images/Cast_img_6.jpg" />Victoria Alvarez-Chacon  </li>
        
        
            <li class="Home-About-li"><img class="Home-About-image-cropper Home-About-img" src="~/Content/images/Cast_img_3.jpg" />Heath Hyun Houghton </li>

        
        
            <li class="Home-About-li"> <img class="Home-About-image-cropper Home-About-img" src="~/Content/images/Cast_img_4.jpg" />Jacquelle Davis   </li>
        
        
            <li class="Home-About-li"> <img class="Home-About-image-cropper Home-About-img" src="~/Content/images/Cast_img_7.jpg" />    Tom Mounsey </li>
            </ul>
        </div>
            
        


    </div>
    <div>
        <h2 class="Home-About-text">BOARD</h2>
        <p class="Home-About-p">Jamie Floyd (President)</p>
        <p class="Home-About-p">Tom Mounsey </p>
        <p class="Home-About-p">Marcia Reyes</p>
        <p class="Home-About-p">Lena-Liis-Kiesel</p>
    </div>

</body>

</html>
    


